<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="pragma" content="no-cache" />

    <title>HerStory</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

    <!-- scripts have been moved to the bottom -->
</head>

<body ng-app="myApp" ng-controller="myCtrl">

<!-- Top Nav test with git -->
<nav class="navbar navbar-fixed-top top-nav row container">
    <div class="col-xs-2">
        <span class="top-nav-item back" id="back">
            < Back
        </span>
    </div>

    <div class="top-nav-item title text-center col-xs-8">
        Local Stories
    </div>

    <div clas="col-xs-2 row">
        <a class="top-nav-item forward hide" href="#">
            Forward >
        </a>
    </div>
</nav>

<!-- Screens -->

<div class="container screen" id="local-stories-screen">
    <p class="muted text-center small">We've found a lot of local women just like you.<br>Connect with them by reading their stories and reaching out.</p>
    <div id="local-stories-rendered">
    </div>
</div>

<script id="local-story-card-template" type="text/x-handlebars-template">
    <div class="local-story-profile-card" onclick="document.location.hash = '{{user.firstName}}'">
        <div class="media">
            <div class="media-left media-middle">
                <img class="media-object profile-photo" src="img/{{user.img}}">
                <h5 class="text-center">{{user.fullName}}</h5>
            </div>
            <div class="media-body">
                <p class="profile-bio">{{user.cardBio}}</p>
                <hr style="" class="pretty-divider" />
                <h5 class="recent-chapters-title">Her recent chapters</h5>
                <ul class="recent-chapters-list">
                    <li>{{user.stories.1.title}}</li>
                    <li>{{user.stories.2.title}}</li>
                </ul>
            </div>
        </div>
    </div>
</script>

<div class="container screen" id="my-story-screen">

    <div id="my-profile-rendered">

    </div>
    <script id="my-profile-template" type="text/x-handlebars-template">

        <div class="media basic-profile-info">
          <div class="media-left media-middle">
              <img class="media-object conversation-img" src="img/{{user.img}}">
          </div>
          <div class="media-body">
          <a id="edit-button-top" class="chapter-edit pull-right col-xs-3" href="#editing-my-profile" ng-click="populateEditPage()" style="padding-top:10px;">Edit <span class="glyphicon glyphicon-edit"></span></a>
            <h4 class="profile-name message-name">{{user.fullName}}</h4>
            <p>{{user.location}}</p>
            <p class="profile-screen-bio">{{user.bio}}</p>
          </div>
        </div>
        <div class="collapse" id="my-extra-profile-info">
            <hr class="wedge invisible">
            <hr class="wedge ">
            <div class="media basic-profile-info">
              <div class="media-left"> <!--  class="media-middle -->
                  <div class="profile-icon-parent">
                    <img class="media-object profile-details-icon" src="img/avatar.png">
                  </div>
              </div>
              <div class="media-body">
                <p class="">{{user.firstName}} is {{user.age}} years old,
                {{#ifCond user.married true}}
                    married,
                {{else}}
                    single, and
                {{/ifCond}}
                has
                {{#ifCond user.kids 1}}
                no
                {{/ifCond}}
                children. <!-- and lives in {{user.location}} -->
                </p>
              </div>
            </div>
            <hr class="wedge">
            <div class="media basic-profile-info">
              <div class="media-left"> <!--  class="media-middle -->
                  <div class="profile-icon-parent">
                    <img class="media-object profile-details-icon" src="img/ribbon.png">
                  </div>
              </div>
              <div class="media-body">
                <p class="">{{user.firstName}} is at Stage {{user.stage}} and was first diagnosed in December, 2016</p>
              </div>
            </div>
        </div>
        <span data-toggle="collapse" data-target="#my-extra-profile-info" id="my-profile-toggle" class="glyphicon glyphicon-chevron-down center-block text-center" style="color:#ff89a0; margin-bottom:7px" onclick="chevronToggle('#my-profile-toggle')"></span>

        <div id="my-call-to-action-anchor"></div>
        <div class="my-call-to-action nonsticky">
            <hr class="wedge">
            <div class="btn-outer text-center write-chapter">
                <a class="btn btn-inner" href="#edit-chapter1">Write a New Chapter</a>
            </div>
            <hr class="wedge">
        </div>

        <div class="my-full-story">
            {{#each user.stories}}
                <div class="chapter">
                    <p class="col-xs-3 chapter-edit chpt-edit" onclick="editChapter({{@index}})">Edit <span class="glyphicon glyphicon-edit"></span></p>
                    <h1 class="chapter-title">{{ this.title }}</h1>
                    <div class="row">
                        <p class="chapter-date col-xs-9">{{this.date}}</p>
                    </div>
                    <p class="chapter-text">{{ this.content }}</p>
                </div>
            {{/each}}
        </div>
    </script>
</div>

<div class="container screen" id="conversations-screen">
    <p class="muted text-center small">Connect with more people by reading Local Stories and starting conversations. All your conversations are listed here.</p>
    <hr class="profile-divider no-margin">
    <div id="conversations-index">

    </div>

    <script id="conversations-index-template" type="text/x-handlebars-template">
        <div class="conversation-link" onclick="document.location.hash = 'conversation-with-{{user.firstName}}'">
            <div class="media">
              <div class="media-left media-middle">
                  <img class="media-object conversation-img" src="img/{{user.img}}">
              </div>
              <div class="media-body">
                <h4 class="message-name">{{user.fullName}}</h4>
                <p>{{lastMessage}}</p>
              </div>
            </div>
        </div>
        <hr class="profile-divider no-margin">
    </script>
</div>

<div class="container screen" id="profile-screen">
    <div id="profile-rendered">

    </div>

    <script id="profile-template" type="text/x-handlebars-template">

        <div class="media basic-profile-info">
          <div class="media-left media-middle">
              <img class="media-object conversation-img" src="img/{{user.img}}">
          </div>
          <div class="media-body">
            <h4 class="profile-name message-name">{{user.fullName}}</h4>
            <p>{{user.location}}</p>
            <p class="profile-screen-bio">{{user.bio}}</p>
          </div>
        </div>
        <div class="collapse" id="extra-profile-info">
            <hr class="wedge invisible">
            <hr class="wedge ">
            <div class="media basic-profile-info">
              <div class="media-left"> <!--  class="media-middle -->
                  <div class="profile-icon-parent">
                    <img class="media-object profile-details-icon" src="img/avatar.png">
                  </div>
              </div>
              <div class="media-body">
                <p class="">{{user.firstName}} is {{user.age}} years old,
                {{#ifCond user.married true}}
                    married,
                {{else}}
                    single, and
                {{/ifCond}}
                has
                {{#ifCond user.kids 1}}
                no
                {{/ifCond}}
                children. <!-- and lives in {{user.location}} -->
                </p>
              </div>
            </div>
            <hr class="wedge">
            <div class="media basic-profile-info">
              <div class="media-left"> <!--  class="media-middle -->
                  <div class="profile-icon-parent">
                    <img class="media-object profile-details-icon" src="img/ribbon.png">
                  </div>
              </div>
              <div class="media-body">
                <p class="">{{user.firstName}} is at Stage {{user.stage}} and was first diagnosed in {{user.diagnosisDate}}</p>
              </div>
            </div>
        </div>
        <span data-toggle="collapse" data-target="#extra-profile-info" id="full-profile-toggle" class="glyphicon glyphicon-chevron-down center-block text-center" style="color:#ff89a0; margin-bottom:7px" onclick="chevronToggle('#full-profile-toggle')"></span>

        <div id="call-to-action-anchor"></div>
        <div class="call-to-action nonsticky">
            <hr class="wedge">
            <div class="btn-outer text-center write-chapter">
                <a class="btn btn-inner" href="#conversation-with-{{user.firstName}}">Start a Conversation with {{user.firstName}}</a>
            </div>
            <hr class="wedge">
        </div>

        <div class="full-story">
            {{#each user.stories}}
                <div class="chapter">
                    <h1 class="chapter-title">{{ this.title }}</h1>
                    <p class="chapter-date">{{this.date}}</p>
                    <p class="chapter-text">{{ this.content }}</p>
                </div>
            {{/each}}
        </div>
    </script>
</div>

<div class="container screen" id="direct-conversation-screen">
    <p class="muted text-center small" id="empty-messages-text"></p>
    <div id="messages-index">
    </div>
    <div class="row message-input-row">
      <div class="col-xs-12 message-input-col">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Type Message" id="send-message-input">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="send-message-button">Send</button>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-xs-12 -->
    </div><!-- /.row -->

    <script id="message-template" type="text/x-handlebars-template">
        {{#if sentFromMe}}
        <p class="triangle-border right">{{message}}</p>
        {{else}}
        <p class="triangle-border left">{{message}}</p>
        {{/if}}
    </script>
</div>

<div class="container screen" id="editing-my-profile-screen">
    <div class="container">
        <!-- <img id="edit-my-profile-pic" class="profile-photo center-block img-responsive center-block" src="img/my-photo.png" style="margin-bottom:15px"> -->

        <div class=" container">
            <div class="row " style="padding-bottom:10px;">
                <div class="col-xs-6">
                     <img class="profile-photo img-responsive " src="img/my-photo.png">
                </div>
                <div class="col-xs-6" style="padding:0px; padding-top: 20px;">                <label for="file-upload-edit" class="custom-file-upload">
                     <p class="button-label" id="choose-photo">Choose Photo</p>
                </label>
                <input id="file-upload-edit" type="file"/></div>
            </div>
        </div>
        <div class="q_card container">
            <div class="row qcard">
                <p class="qcard_title col-xs-6">Name</p>
                <input class="col-xs-6 edit-profile" type="text" name="name" placeholder="Your name" id="edit_name_input"/>
            </div>
            <div class="row qcard">
                <p class="qcard_title col-xs-6">Date of Birth</p>
                <input class="col-xs-6 edit-profile" type="date" name="dob" placeholder="Your Date of Birth" id="edit_age_input"/>
            </div>
        </div>
        <hr style="" class="wedge"/>
        <div class="container"><p class="qcard qcard_title" style="line-height:inherit">Your Bio</p></div>
        <textarea placeholder="Tell us about yourself. Write a brief bio, letting the community know who you are and what you'd like to talk about." class="chapter-text" rows="4" id="edit-profile-bio"></textarea>
        <hr style="" class="wedge"/>
        <div class="container edit-profile-binary-question">
            <div class="qcard row">
                <p class="qcard_title col-xs-9">Are you married?</p>
                <label class="switch col-xs-3">
                  <input type="checkbox" id="edit-profile-married" ng-checked="married">
                  <div class="slider round"></div>
                </label>
            </div>
            <div class="qcard row">
                <p class="qcard_title col-xs-9">Have you any children?</p>
                <label class="switch col-xs-3">
                  <input type="checkbox" id="edit-profile-children" ng-checked="kids">
                  <div class="slider round"></div>
                </label>
            </div>
        </div>
        <div class="q_card container">
            <div class="qcard">
                <p class="qcard_title">What stage are you at right now?</p>
                <div class="row">
                    <div class="col-xs-6 stage" ng-class="{'selected': stage == 1}" ng-click="setStage(1)">Stage I</div>
                    <div class="col-xs-6 stage" style="float:right" ng-class="{'selected': stage == 2}" ng-click="setStage(2)">Stage II</div>
                    <div class="col-xs-6 stage" ng-class="{'selected': stage == 3}" ng-click="setStage(3)">Stage III</div>
                    <div class="col-xs-6 stage" style="float:right" ng-class="{'selected': stage == 4}" ng-click="setStage(4)">Stage IV</div>
                </div>
            </div>
            <div class="qcard">
                <div class="row qcard">
                    <p class="qcard_title col-xs-6">When were you first diagnosed?</p>
                    <input class="col-xs-6 edit-profile" type="month" name="diagnosisDate" id="edit_diagnosisDate_input" ng-value="diagnosisDate" style="margin-top:1.5em"/>
                </div>
            </div>
        </div>
        <hr style="" class="wedge"/>
    </div>
</div>

<!-- WELCOME SCREENS ENSEMBLE -->
<div class="container screen" id="welcome1-screen">
	<center>
        <div class="row">
            <img class="img-responsive center-block welcrumb-breadcome" src="img/signup-img/p_bar_1.png">
        </div>
        <div id="welcome-message">
            <p class="welcome-pbar-label">Help us to learn more about you so we can match you with others just like you.</p>
        </div>
	</center>
	<div class="container">
		<div class="q_card container">
			<div class="row qcard">
                <p class="qcard_title col-xs-6">Name</p>
                <input class="col-xs-6" type="text" name="name" placeholder="Your name" id="name_input"/>
            </div>
            <div class="row qcard">
                <p class="qcard_title col-xs-6">Date of Birth</p>
                <input class="col-xs-6" type="date" name="dob" placeholder="Your Date of Birth" id="age_input"/>
            </div>
		</div>

		<div class="q_card container">
            <div class="row qcard">
                <img id="profile-image-preview" class="img-responsive center-block hide col-xs-12" src="#" style="margin-bottom:15px"/>
                <p class="qcard_title col-xs-6">Profile Photo</p>
                <div class="col-xs-6" style="padding:0px">
                    <label for="file-upload" class="custom-file-upload">
                         <p class="button-label" id="choose-photo">Choose Photo</p>
                    </label>
                    <input id="file-upload" type="file" onchange="previewPic(this);"/>
                </div>
            </div>
		</div>
        <div class="q_card container">
            <div class="row qcard">
                <p class="qcard_title col-xs-6">Location<span style="color:#ff89a0">*</span></p>
                <input class="col-xs-6" type="text" id="user_location" style="color:#ff89a0" value="Stanford, CA" placeholder="Enter your location" />
                <p class="col-xs-12" style="color:#ff89a0; font-size:14px">*Your location was automatically detected</p>
            </div>
        </div>
	</div>
</div>

<div class="container screen" id="welcome2-screen">
	<center>
        <div class="row">
            <img class="img-responsive center-block welcrumb-breadcome"  src="img/signup-img/p_bar_2.png">
        </div>
        <div id="welcome-message">
            <p class="welcome-pbar-label">You're doing great! Tell us a little about your family.</p>
        </div>
	</center>
    <div class="q_card">
        <div class="container edit-profile-binary-question">
            <div class="qcard row">
                <p class="qcard_title col-xs-9">Are you married?</p>
                <label class="switch col-xs-3">
                  <input type="checkbox" id="profile-married" ng-checked="married">
                  <div class="slider round"></div>
                </label>
            </div>
            <div class="qcard row">
                <p class="qcard_title col-xs-9">Have you any children?</p>
                <label class="switch col-xs-3">
                  <input type="checkbox" id="profile-children" ng-checked="kids">
                  <div class="slider round"></div>
                </label>
            </div>
        </div>
	</div>
    <div class="container q_card"></div>
</div>

<div class="container screen" id="welcome3-screen">
	<center>
    <div class="row">
        <img class="img-responsive center-block welcrumb-breadcome" src="img/signup-img/p_bar_3.png">
    </div>
    <div id="welcome-message">
        <p class="welcome-pbar-label">Tell us about your diagnosis. This will help us match you with other members of the community.</p>
    </div>
	</center>
    <div class="">
        <div class="q_card container">
    		<div class="qcard">
    			<p class="qcard_title">What stage are you at right now?</p>
                <div class="container">
        			<div class="row">
                        <div class="col-xs-6 stage" ng-class="{'selected': stage == 1}" ng-click="setStage(1)">Stage I</div>
                        <div class="col-xs-6 stage" style="float:right" ng-class="{'selected': stage == 2}" ng-click="setStage(2)">Stage II</div>
                        <div class="col-xs-6 stage" ng-class="{'selected': stage == 3}" ng-click="setStage(3)">Stage III</div>
                        <div class="col-xs-6 stage" style="float:right" ng-class="{'selected': stage == 4}" ng-click="setStage(4)">Stage IV</div>
                    </div>
                </div>
    		</div>
            <div class="qcard">
                <div class="qcard">
                    <p class="qcard_title col-xs-6">When were you first diagnosed?</p>
                    <input class="col-xs-6" type="month" name="diagnosisDate" id="diagnosisDate_input" ng-value="diagnosisDate" style="margin-top:1.5em"/>
                </div>
            </div>
    	</div>
    </div>
</div>

<div class="container screen" id="welcome4-screen">
    <div class="row">
        <img class="img-responsive center-block welcrumb-breadcome" src="img/signup-img/p_bar_4.png">
    </div>
    <div id="welcome-message">
        <p class="welcome-pbar-label text-center">Thank you!<br>
        <p class="welcome-pbar-label text-left">We'd like to invite you to write a brief bio - everything about yourself that you'd like the members of our community to know. It doesn't have to be too detailed - members of our community have written things like "proud mom of two kids", or "professional in a multinational organization." </p>
    </div>
    <div class="text-center container" style="border-top: thin solid #ffced8; padding-top: 20px;">
        <p class="qcard_title">Your Bio</p>
		<textarea placeholder="Tell us about yourself. Write a brief bio, letting the community know who you are and what you'd like to talk about." class="chapter-text" rows="4" id="my-profile-bio"></textarea>
	</div>
</div>

<div class="container screen full-width" id="edit-chapter1-screen">
    <div id="welcome-message">
        <p class="welcome-pbar-label muted small">Think of this as you're online diary where you can share your stories, thoughts, and feelings with others. These chapters help the community get to know you.</p>
    </div>
    <div class="text-center container" style="border-top: thin solid #ffced8; padding-top: 20px;">
        <input type="text" class="edit-chapter-title" name="stage" id="chapt-title" maxlength="35" placeholder="Title of your Chapter. Please limit to 35 chars." />

        <textarea placeholder="Tell a story, reflect, and share your feelings. There are no size limits on a chapter." class="chapter-text" rows="10" id="chapt"></textarea>

        <div class="btn-outer text-center share-chapter">
            <a class="btn btn-inner" href="#my-story">Share</a>
        </div>
    </div>
</div>

<div class="container screen full-width" id="editing-chapter-screen">
    <div id="welcome-message">
        <p class="welcome-pbar-label muted small text-center" id="chapter-being-edited">Currently editing Chapter ""</p>
    </div>
    <div class="text-center container" style="border-top: thin solid #ffced8; padding-top: 20px;">
        <input type="text" class="edit-chapter-title" name="stage" id="editing-chapt-title" maxlength="35" placeholder="Title of your Chapter. Please limit to 35 chars." />

        <textarea placeholder="Tell a story, reflect, and share your feelings. There are no size limits on a chapter." class="chapter-text" rows="10" id="editing-chapt"></textarea>
    </div>
</div>

<!-- Bottom Nav -->
<footer class="bottom-nav bg-faded" id="footer-menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <a href="#my-story">
                    <div class="bottom-nav-item text-center" id="my-story-nav">
                        <div class="nav-icon book"></div>
                        <span>My Story</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-4 bordered-nav-item">
                <a href="#local-stories">
                    <div class="bottom-nav-item nav-selected text-center" id="local-stories-nav">
                        <div class="nav-icon star"></div>
                        <span>Local Stories</span>
                    </div>
                </a>
            </div>
            <div class="col-xs-4">
                <a href="#conversations">
                    <div class="bottom-nav-item text-center" id="conversations-nav">
                        <div class="nav-icon conversations"></div>
                        <span>Conversations</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</footer>

<footer class="bottom-nav bg-faded" id="footer-save">
    <h3><a href="#my-story" class="col-xs-6 text-center footer" ng-click="updateVariables()" style="border-right: 1px solid #513d1e">Cancel</a></h3>
    <h3><a href="#my-story" class="col-xs-6 text-center footer" ng-click="editPersonalInfo()" onclick="javascript:updateChapter()" style="border-left: 1px solid #735f40">Save</a></h3>
</footer>

<footer class="bottom-nav bg-faded container" id="footer-signup">
    <h3><a onclick="javascript:nextPage(-1)" class="col-xs-6 text-center footer" style="border-right: 1px solid #513d1e" id="footer-back-button">&#8592;</a></h3>
    <h3><a onclick="javascript:nextPage(1)" ng-click="setProfileVariables()" class="col-xs-6 text-center footer" style="border-left: 1px solid #735f40" id="footer-next-button">&#8594;</a></h3>
</footer>

</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="handlebars-v4.0.5.js"></script>
<script src="jquery.dotdotdot.min.js"></script>
<script src="data.js"></script>
<script src="scripts.js"></script>
<script>
    // welcome screen - clicking next
    var nextPage = function(increment) {
        var increment = parseInt(increment)

        // get current welcome screen
        var docHash = document.location.hash;
        var currentWelcomeScreen = parseInt(docHash.substring(docHash.length - 1));

        // Check for edge cases
        const updatedScreen = currentWelcomeScreen + increment;

        // hard-code the two views where you'd show the bottom "NEXT" button as "DONE"
        if (increment == 1 && ( document.location.hash == "#welcome3")) {
            $('#footer-next-button').html('DONE &gt');
        } else {
            $('#footer-next-button').html('&#8594;');
        }

        if (increment == -1 && document.location.hash == "#edit-chapter1") {
            document.location.hash = "#my-story";
            return;
        }

        // TODO: Perform checks before sending to my story view
        // if (document.location.hash == "#edit-chapter2" && increment == 1) {
        //     // if this is the edit chapter view's second page,
        //     // it's time to save to the myStoriesData array
        //     appendChapterToStory();

        //     // take them to the my story page
        //     document.location.hash = "#my-story";
        //     return;
        // }

        if (updatedScreen == 5) {
            // This is only for the "Welcome" view.
            // NOTE: legacy and inefficient code but will NOT be changed at this stage.
            // update the user's story

            // take them to the local stories page when they finish creating their profile
            document.location.hash = "#local-stories";
        }

        if (updatedScreen < 1 || updatedScreen > 4) {
            return;
        } else {
            // grey out BACK button if 1
            if (updatedScreen == 1) {
                $("#footer-back-button").addClass("greyed-out");
            } else {
                $("#footer-back-button").removeClass("greyed-out");
            }

            // increment and call the next page in the series
            document.location.hash = docHash.substring(1, docHash.length-1) + String(updatedScreen);
        }
    }

    // preview profile picture
    function previewPic(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#profile-image-preview')
                    .attr('src', e.target.result)
                    .removeClass('hide');
                myUser.img = e.target.result;
                $('#edit-my-profile-pic').attr('src', e.target.result);
                $('#choose-photo').html("Change Photo");
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    var chevronToggle = function(id_of_button) {
        // toggle chevron for full profile view
        console.log(id_of_button);
        $(id_of_button).toggleClass("rotate");
    };

    $(document).ready(function() {
        $(window).scroll(function() {
            if($('#call-to-action-anchor').offset()) {
                if ($(window).scrollTop() + 45 > $('#call-to-action-anchor').offset().top) {
                    $('.call-to-action').addClass('sticky');
                    $('.call-to-action').removeClass('nonsticky');
                    $('.full-story').css("margin-top", '82px');
                } else {
                    $('.call-to-action').removeClass('navbar-fixed-top');
                    $('.call-to-action').removeClass('sticky');
                    $('.full-story').css("margin-top", '0px');
                }
            }

            if($('#my-call-to-action-anchor').offset()) {
                if ($(window).scrollTop() + 45 > $('#my-call-to-action-anchor').offset().top) {
                    $('.my-call-to-action').addClass('sticky');
                    $('.my-call-to-action').removeClass('nonsticky');
                    $('.my-full-story').css("margin-top", '82px');
                } else {
                    $('.my-call-to-action').removeClass('navbar-fixed-top');
                    $('.my-call-to-action').removeClass('sticky');
                    $('.my-full-story').css("margin-top", '0px');
                }
            }
        });
    })

</script>
</html>
