/*Light Pink: #ffced8
Brown: #624e2f
Dark Pink: #ff89a0*/

@font-face {
    font-family: comingSoon;
    src: url(font/ComingSoon.ttf);
}

@font-face {
    font-family: indieFlower;
    src: url(font/IndieFlower.ttf);
}

body {
  font-family: comingSoon;
}

.title {
  font-family: indieFlower;
}

.hide {
  display: none !important;
}

/* Top Nav */

.navbar {
  /* overriding annoying property of bootstrap */
  min-height: 0 !important;
}

.top-nav {
  height: 40px;
  padding: 0px;
  background-color: #ff89a0;
  color: white;
}

.top-nav-item {
  line-height: 40px; /* Same as top-nav height to center vertically */
  text-transform: capitalize;
}

.top-nav-item, .top-nav-item:hover {
  color: white;
  white-space: nowrap;
  text-decoration: none;
  display: inline-block;
}

.top-nav-item .title {
  font-size: 20px;
}

.top-nav-item.back {
  margin-left: 10px;
}

.top-nav-item.forward {
  margin-right: 10px;
}

.top-nav .full-width {
  padding: 0px;
  margin: 0px;
}

.pull-right{
	right: 10px;
}

/* Screens / Pages */

.pretty-divider {
  border-top: dashed 1px;
  color:#ffced8;
}

.profile-divider {
  border-top: solid 1px;
  color:#ffced8;
}

.profile-divider.small-margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.screen {
  position: relative;
  top: 54px; /* size of top-nav*/
  margin-bottom: 60px;  /* so that the dashed line shows up above the bottom nav */
}

.screen .profile-photo {
  width: 50%;
  border-radius: 50%;
}

.screen .profile-name {
  font-family : indieFlower;
  font-size : 2em;
  color : #624e2f;
}

.screen .profile-location {
  font-size: 1em;
  color: #95805c;
}

.btn-outer {
  background: #ff89a0;
  padding:5px;
  border-radius: 10px;
}

.btn-inner {
  background: #ff89a0;
  border-radius : 0 !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border : 1px dotted #ffced8;
  padding : 5px;
  width : 100%;
  color : #fff;
}

div.header, div.chapter{
	padding: 0px 10px;
}

/* Chapters */
.chapter {
  border-bottom: dashed 1px #ffced8;
  margin-bottom: 15px;
}

.chapter-title {
  color: #95805c;
  font-size: 1.5em;
  font-weight: bold;
}

.chapter-date {
  color: #907A56;

}

/* Editing my profile */
.editing-my-story input, .editing-my-story textarea, .chapter-text {
  width: 100% !important;
  margin-top: 5px;
}



/* Bottom Nav */

.bottom-nav .bottom-text {
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin-top: 13px;
}

.bottom-nav {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background-color: #624e2f;
}

.bottom-nav-item .nav-icon {
    width: 40px;
    height: 40px;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
}

.nav-icon.book {
    background-image: url(img/book.png);
}

.bottom-nav-item.selected .nav-icon.book {
    background-image: url(img/book_filled.png);
}

.nav-icon.conversations {
    background-image: url(img/conversations.png);
}

.bottom-nav-item.selected .nav-icon.conversations {
    background-image: url(img/conversations_filled.png);
}

.nav-icon.star {
    background-image: url(img/star.png);
}

.bottom-nav-item.selected .nav-icon.star {
    background-image: url(img/star_filled.png);
}

.bottom-nav-item span {
  display: block;
  color: white;
  position: relative;
  top: -4px;
  font-size: 10px;
  font-family: comingSoon;
}

.bottom-nav-item.selected span {
  color: #ffced8;
}

.bordered-nav-item {
  border-left: 1px dotted white;
  border-right: 1px dotted white;
}

.bottom-nav a {
  /* color: white !important; */
  text-decoration: none;
  margin-top: -6px;
  cursor: pointer;
}

.bottom-nav a:hover {
  color: white;
}

/* bottom nav classes */
.greyed-out {
  color: #735f40 !important;
}

.footer {
  color: white;
  font-family: indieFlower;
}

/* Conversations view */

.conversation-img {
  border-radius: 50%;
  width: 75px;
}

.conversation-link {
  border-bottom: 1px solid gray;
}

.conversation-link, .conversation-link:hover {
  text-decoration: none;
}

.conversation-link:hover .media{
  background-color: #e8e8e8;
}

.top-margin {
  margin-top: 15px;
}

/* Messaging */

.message-input-row {

}

.message-input-col {
  position: fixed;
  bottom: 0px;
  padding: 0px;
}

/* Speech Bubbles */

.triangle-border {
  position:relative;
  padding:15px;
  border:2px solid #ffced8;
  color:#333;
  background:#fff;
  /* css3 */
  /*-webkit-border-radius:10px;*/
  /*-moz-border-radius:10px;*/
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-border.left {
  margin-left:30px;
  border-radius:10px 10px 10px 0px;
  border-color: #e8e8e8;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-border.right {
  margin-right:30px;
  border-radius:10px 10px 0px 10px;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-border:before {
  content:"";
  position:absolute;
  bottom:-20px; /* value = - border-top-width - border-bottom-width */
  left:40px; /* controls horizontal position */
  border-width:20px 20px 0;
  border-style:solid;
  border-color:#5a8f00 transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* creates the smaller  triangle */
.triangle-border:after {
  content:"";
  position:absolute;
  bottom:-13px; /* value = - border-top-width - border-bottom-width */
  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
  border-width:13px 13px 0;
  border-style:solid;
  border-color:#fff transparent;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}

/* Variant : top
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.top:before {
  top:-20px; /* value = - border-top-width - border-bottom-width */
  bottom:auto;
  left:auto;
  right:40px; /* controls horizontal position */
  border-width:0 20px 20px;
}

/* creates the smaller  triangle */
.triangle-border.top:after {
  top:-13px; /* value = - border-top-width - border-bottom-width */
  bottom:auto;
  left:auto;
  right:47px; /* value = (:before right) + (:before border-right) - (:after border-right) */
  border-width:0 13px 13px;
}

/* Variant : left
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.left:before {
  top:auto; /* controls vertical position */
  bottom:-2px;
  left:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 30px 0px 0;
  border-color:transparent #e8e8e8;
}

/* creates the smaller  triangle */
.triangle-border.left:after {
    top: auto;
    bottom: 0px;
  left:-21px; /* value = - border-left-width - border-right-width */
  border-width:11px 23px 0px 0;
  border-color:transparent #fff;
}

/* Variant : right
------------------------------------------ */

/* creates the larger triangle */
.triangle-border.right:before {
  top:auto; /* controls vertical position */
  bottom:-2px;
  left:auto;
  right:-30px; /* value = - border-left-width - border-right-width */
  border-width:15px 0 0px 30px;
  border-color:transparent #ffced8;
}

/* creates the smaller  triangle */
.triangle-border.right:after {
    top: auto;
    bottom: 0px;
    left: auto;
    right: -23px;
    border-width: 11px 0px 0px 23px;
  border-color:transparent #fff;
}

/*--------Welcome views-----------*/
.welcrumb-breadcome {
  margin-bottom: 10px;
}

p.welcome-pbar-label{
	padding: 0px 20px;
	font-family: comingSoon, cursive;
	color: #624e2f;
	font-size: 14px;
}

.row.q_card{
	border-top: thin solid #ff89a0;
	min-height: 120px;
}

p.qcard_title{
	text-align: center;
	font-family: "indieFlower", cursive;
	font-size: 16px;
	padding: 20px 0px 5px 0px;
	color: #624e2f;
}

#name_input, #age_input, #diagnose_input, #stage_input, #bio_input{
	width: 300px;
	height: 40px;
	border: thin dashed #ff89a0;
	padding: 10px;
	color: #ff89a0;
	border-radius: 10px;
	font-size: 20px;
	font-family: comingSoon, cursive;
}

#diagnose_input, #stage_input{
	margin-top: 30px;
  background: white;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    background-color: #ff89a0;
	border-radius: 10px;
    display: inline-block;
	width: 300px;
	height: 40px;
    padding: 6px 12px;
    cursor: pointer;
}
p.button-label{
	line-height: 30px;
	color: white;
	font-family: comingSoon, cursive;
	font-size: 16px;
}

.row.q_card_2{
	border-top: thin solid #ff89a0;
	height: 280px;
	padding-top: 20px;
}

#marital-single, #marital-married, #kid-yes, #kid-no, 
#stage-one, #stage-two, #stage-three, #stage-four{
	border: thin dashed #ff89a0;
	width: 150px;
	height: 80px;
	display: inline-block;
	color: #ff89a0;
	line-height: 80px;
	font-size: 20px;
	font-family: comingSoon, cursive;
	border-radius: 10px;
	margin: 5px;
}

.row.welcome-tab-row{
	margin-top: 20px;
}

p.firstchapt-label{
	display: inline-block;
	color: #ff89a0;
	font-size: 20px;
	font-family: comingSoon, cursive;
}

#firstchapt-title{
	display: inline-block;
	width: 300px;
	height: 40px;
	border: thin dashed #ff89a0;
	border-radius: 10px;
	padding: 10px;
	font-family: comingSoon, cursive;
	font-size: 14px;
	color: #624e2f;
}

textarea{
	margin-top: 10px;
	border: thin dashed #ff89a0;
	border-radius: 10px;
	padding: 10px;
	font-family: comingSoon, cursive;
	font-size: 14px;
	color: #595554;
}

#firstchpt-tag-chemo,#firstchpt-tag-medicine,#firstchpt-tag-hospital,
#firstchpt-tag-surgery,#firstchpt-tag-family,#firstchpt-tag-reflection{
	display: inline-block;
	width: 100px;
	height: 100px;
}


p.welcome-tag-title{
	ext-align: center;
	font-family: "indieFlower", cursive;
	font-size: 16px;
	color: #624e2f;
}